{% extends "parking_management/base_user.html" %}
{% load tz %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container section">
    <h2 class="title is-3">{{ page_title }}</h2>
   <form method="post" novalidate>
    {% csrf_token %}

    {% for field in form %}
        <div class="field">
            <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="control">
                {{ field }}
            </div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-success">Lưu</button>
        </div>
        <div class="control">
            <a href="{% url 'parking_management:khachthue_list' %}" class="button is-danger">Hủy</a>
        </div>
    </div>
</form>
</div>
{% endblock %}