{% extends 'parking_management/base_user.html' %}
{% load humanize %}

{% block title %}Thống kê Doanh thu Tháng{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Thống Kê Doanh Thu Tháng</h1>

     <form method="get" class="mb-5">
    <div class="field is-grouped">
        <label class="label control is-size-5" style="margin-right: 1em; align-self: center;">Chọn thời gian:</label>
        <div class="field has-addons">
            <div class="control">
                <div class="select">
                    {{ form.selected_month }}
                </div>
            </div>
            <div class="control">
                <div class="select">
                    {{ form.selected_year }}
                </div>
            </div>
            <div class="control">
                <button class="button is-info">Xem</button>
            </div>
        </div>

    </div>
</form>

        {% if selected_year and selected_month %}
            <h2 class="subtitle">Báo cáo doanh thu tháng {{ selected_month }}/{{ selected_year|stringformat:"d" }}</h2>
            <div class="box">
                <div class="table-container">
                    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th style="width: 10%;">STT</th>
                                <th>Loại vé</th>
                                <th class="has-text-right">Doanh thu (VNĐ)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in summary_data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.type }}</td>
                                <td class="has-text-right">{{ item.revenue|intcomma }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3" class="has-text-centered">Không có doanh thu trong khoảng thời gian này.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2" class="has-text-left is-size-5 has-text-weight-bold" >Tổng cộng</th>
                                <th class="has-text-right is-size-5 has-text-weight-bold">{{ tong_doanh_thu|intcomma }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="notification is-info is-light mt-5">
              Vui lòng chọn tháng và năm để xem báo cáo.
            </div>
        {% endif %}

    </div>
</section>
{% endblock %}